{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Fanampy Dev</h1>
          <h2>Mifampianatra, mifanampy amin'ny sehatra kajy mirindra </h2>
          <div>
            <a href="{{ path ('all_share')}}" class="btn-get-started scrollto">Andao ary!</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/home.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">Mifanampy sy mifampianatra ary mizara ny traikefa</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            Manodidina ny sehatra kajy mirindra no hivondronan'ny mpikambana ato, ary natao hampiroboroboana sy hivoaran'ny tsirairay
          </p>
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Mianatra maimaimpoana</h4>
              <p>Mahazo fampianarana, torolalana sy tohana maimaimpoana araky izay tratran'ny mpikambana manome izany</p>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Mampianatra maimaimpoana</h4>
              <p>Manana adidy, hampianatra maimaimpoana araka izay tratrany hoan'ny mpikambana mangataka izany</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2><a href="{{path('all_share')}}">Fizarana</a> </h2>
        <p>Ireto ny zavatra nozarain'ny mpikambana farany</p>
      </div>

      <div class="row">
        {% set delay = 100 %}
        {% for share in liste %}
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="{{delay}}">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">{{share.name}}</a></h4>
            <p class="description">{{share.description}}</p>
          </div>
        </div>
        {% set delay = delay + 100 %}
      {% endfor %}




      </div>

    </div>
  </section><!-- End Services Section -->

{% endblock %}
